@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;
  background: #151515;
}

a {
  color: inherit;
  text-decoration: none;
}

html::-webkit-scrollbar {
  display: none;
}

.horizontal-sb::-webkit-scrollbar {
  height: 3px;
}

.horizontal-sb::-webkit-scrollbar-track {
  background-color: transparent;
}

.horizontal-sb::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 5px;
}
.horizontal-sb::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f3f;
  border-radius: 5px;
}

.profile-sb::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}

.profile-sb::-webkit-scrollbar-track {
  background-color: transparent;
}

.profile-sb::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 5px;
}
